/* BUTTONS */

button, 
.button {
    line-height: 1;
    font-family: $heading-fontfamily;
    font-size: inherit;
    background-color: gray;
    color: #fff;
    padding: .5em 1.2em;
    display: inline-block;
    margin: .5em;
    border-radius: .5em;

    &:hover {
        background-color: rgb(185, 185, 185);
        color: rgb(185, 185, 185);
    }

    &.dark {
        line-height: 1;
        font-family: $heading-fontfamily;
        font-size: inherit;
        background-color: transparent;
        color: rgb(255, 255, 255);
        padding: .5em 1.2em;
        display: inline-block;
        margin: .5em;
        border-radius: .5em;
        border: 1px solid white;
        text-decoration: none;
        
    
        &:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);}
    }
}

