/* site header */

.site-header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    padding: 1.5em;
    color: #ffffff;
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 1em;
        font-family: $body-fontfamily; 
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

/* site nav */

.site-header .site-nav {
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    transition: all .2s ease;

    ul {
        position: fixed;
        top: -100%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        list-style: none;
        } 

    a {
        display: block;
        padding: 1em;
        }

    li {
        transition: all .4s ease-out;
        font-size: 2em;
        transform: translateY(-30px);
        opacity: 0;
    }

    &.active{ 
        position: fixed;
        height: 100%;
        z-index: 100;
        ul {
            top: 50%;
        }     
        li { 
            transition: all .4s             cubic-bezier(0,1,1,1);
            transform: translateY(0px);
            opacity: 1;
            &:nth-child(1) {
                transition-delay: .2s;
            }
            &:nth-child(2) {
                transition-delay: .4s;
            }
            &:nth-child(3) {
                transition-delay: .6s;
            }
        }
 
        background: rgb(0, 190, 181);
    }
}



/* MENU BUTTON */
.menu-button {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    cursor: pointer;
     z-index: 200;
    /* TEMP FIX tO SEE BACKGROUND COLOR */
    // background-color: black;
   
}

.menu-button.navicon {
    font-size: 1.75em;
    top:1em;
    right: 1em;
    text-align: center;
    width: 1em;
    height: 1em;
    overflow: hidden;
    // background: pink;
    line-height: 1;

    &:before {
        display: inline-block;
        width: 1em;
        height: 1em;
        content: "\2630";
        // background: teal;
        transform: rotate(-1800);
        transition: .4s all ease-out;
    }
}
.active .menu-button.navicon:before {
    content: "\2715";
    transform: rotate(-90deg);
}

section {
    padding: 2em 4em;
    min-height: 100vh;
    display: grid;
    place-items: center;
}


/* HERO SECTION */

.hero {
    background-color: $color-hero-bg;
 
    background-size: cover;
    padding: 6em 1em;
    // text-align: center;
    color: #fff;
    p{
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        font-size: 4em;
    }
}

/*MUSIC PLAYER */
.player {
    // max-width: 200px;
    margin: 0 auto;
  }
  

/* FOOTER */
.site-footer .site-nav {
    ul {
        display: flex;
        list-style: none;
        justify-content: center;
    }
    a {
        display: block;
        padding: 1em;
    }
}



.site-footer {
    justify-content: center;
    margin-top: 6em;
    background-color: rgb(0, 0, 0);
    
   
    a {
        color: white;
        list-style: none;
        text-decoration: none;
        font-family: $body-fontfamily; 
        font-size: 1em;

    }
}

/* LAYOUT */
#layout{
    @media (min-width: $breakpoint-small) {
 
        .container {display: flex;
        align-items: center;
        }
        .image-block{
        width: 50%;
        }  
        .text-block{
        width: 50%;
        // margin-left: -5em;
        transform: translateX(-2em);
        }
    }
}


.split-crossed-left {

    @media (min-width: $breakpoint-small) {
        .container {
            display: flex;
            align-items: center;
        }

        .image-block {
            width: 50%;
        }

        .text-block {
            width: 50%;
            transform: translateX(-2em);
        }
    }

}

.split-crossed-reversed {
    
        @media (min-width: $breakpoint-small) {
            .container {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
            }
    
            .image-block {
                width: 50%;
            }
    
            .text-block {
                width: 50%;
                transform: translateX(2em);
            }
        }
    
    }
/* scroll triggered animation via scroll out */

    [data-scroll] {
        transition: opacity 3s
        linear, transform 1s cubic-bezier(0,1,1,1);
      }
      [data-scroll="in"] {
        opacity: 1;
        transform: translateY(0);
      }
      [data-scroll="out"] {
        opacity: 0;
        transform: translateY(20px)
      }

      // split crossed left animation

      [data-scroll].split-crossed-left .image-block,
      [data-scroll].split-crossed-left .image-text {
        transition: 1s ease-out transform;
      }


      [data-scroll="in"].split-crossed-left .image-block,
      [data-scroll="in"].split-crossed-left .text-block {
        transform: translateX(0);
      }


      [data-scroll="out"].split-crossed-left .image-block,
      [data-scroll="out"].split-crossed-left .text-block {
        transform: translateX(-200px);
      } 

      .container {
        position: relative;
        text-align: center;
        color: white;
      }

      .centered {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


